footer {
  background-color: #212934 !important;
  color: #fff !important;
  .columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: pre-line;
    padding: 55px 30px;
    .address,
    .links-products,
    .more-info {
      white-space: pre-line;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 1.7em;
    }
    a {
      color: white;
      margin: 15px 0;
      line-height: 35px;
      text-decoration: none;
      font-size: 1.2em;
      &:hover {
        color: #68bb7d;
      }
    }
    @media (max-width: 700px) {
      // justify-content: flex-start;
      flex-direction: column;
    }
  }
  .copy-right {
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.6em;
    margin-top: 46px;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: #68bb7d;
      }
    }
  }
}
