nav {
  background: transparent;
  height: 80px;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  ul {
    top: 0;
    float: right;
    margin-right: 20px;
    li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
      a {
        color: #212934;
        font-size: 13px;
        text-decoration: none;
        padding: 9px 17px;
        text-transform: uppercase;
        .active,
        &:hover {
          color: #198754;
          transition: 0.5s;
        }
        @media (max-width: 952px) {
          font-size: 16px;
        }
      }
    }
    @media (max-width: 858px) {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 110px;
      left: -100%;
      text-align: center;
      transition: all 0.4s;
      li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        a {
          color: white;
          font-size: 25px;
          &:hover,
          .active {
            // background-color: #0082e6;
          }
        }
      }
    }
  }
}
a.logo {
  color: #15a05f;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  text-decoration: none;
  @media (max-width: 952px) {
    font-size: 30px;
    padding-left: 30px;
  }
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  @media (max-width: 858px) {
    display: block;
  }
}
#check {
  display: none;
  @media (max-width: 858px) {
    &:checked ~ ul {
      left: 0;
      z-index: 99999;
    }
  }
}
